# IF / ELIF / ELSE - Exemple d'un abonnement
Une salle de sport propose deux abonnements:

*   T1 : une entrée à 3euros
*   T2 : un abonnemment annuel à 9euros, puis l'entrée à 1euro

Faire un programme qui demande l'entrée à l'utilisateur et affiche le meilleur tarif.

```
LIRE(nombre_entrée)
tarif1 = 3 * nombre_entrée
tarif2 = 9 + nombre_entrée

SI tarif1<tarif2
    AFFICHE("Le tarif 1 est moins cher")
SINON
    AFFICHE("Le tarif 2 est moins cher")
```

In [ ]:
nombre = int(input("Saisir le nombre d'entrée : "))
tarif1 = 3 * nombre
tarif2 = 9 + nombre

if tarif1 < tarif2 :
    print("Le tarif 1 est moins cher")
else :
    print("Le tarif 2 est moins cher")

Saisir le nombre d'entrée : 2
Le tarif 1 est moins cher

# Algorithmes

## 2.1 Condition et produit
Ecrire un algorithme qui demande deux nombres a l’utilisateur et l’informe ensuite si leur produit est négatif ou positif (on laisse de côté le cas où le produit est  nul).   Attention  toute  fois  :  on  ne  doit  pas  calculer  le  produit  des  deux nombres.


```
LIRE(nombre1)
LIRE(nombre2)

SI (nombre1 < 0 ET nombre2 < 0) OU (nombre1 > 0 ET nombre2 > 0)
    AFFICHE('Positif')
SINON SI nombre1 == 0 OU nombre2 == 0
    AFFICHE('Nul')
SINON
    AFFICHE('Négatif')
```

In [ ]:
nombre1 = int(input('Saisir le nombre 1 : '))
nombre1 = int(input('Saisir le nombre 2 : '))

if (nombre1 > 0 and nombre1 > 0) or (nombre1 < 0 and nombre1 < 0):
    print('Produit positif')
elif nombre1 == 0 or nombre1 == 0:
    print('Produit nul')
else :
    print('Produit négatif')

Nombre 1 : -1
Nombre 2 : 5
Produit négatif

## 2.2 Additivité

Ecrire un algorithme qui demande un nombre de départ, et qui calcule la somme
des entiers jusqu'à ce nombre. Par exemple, si l'on entre 5, le programme doit
calculer : 1 + 2 + 3 + 4 + 5 = 15.

```
LIRE(nombre_départ)
somme = 0
i = 1

TANT QUE i <= A nombre_départ
    somme += i
    i += 1
FIN TANT QUE
AFFICHE(somme)
```

In [ ]:
nombre = int(input('Saisir un nombre : '))
somme = 0
i = 1

while i <= nombre :
    somme += i
    i += 1

print('Somme des entiers de 1 à {} = {}'.format(nombre, somme))

Saisir un nombre : 5
Somme des entiers de 1 à 5 = 15

## 2.3 Somme des éléments d'un tableau

Ecrire un algorithme calculant la somme des valeurs d'un tableau (on suppose
bien sur que le tableau a été préalablement saisi).

```
LIRE(tableau)
somme = 0

POUR CHAQUE valeur DE tableau
    somme += valeur
FIN POUR
AFFICHE(somme)
```

In [ ]:
tableau = [32, 3, 79, 15, 53]
somme = 0

for valeur in tableau :
    somme += valeur

print('Somme des valeurs du tableau = {}'.format(somme))

Somme des valeurs du tableau = 182

## 2.4 FacProduct

Toujours à partir de deux tableaux précédemment saisis, écrire un algorithme
qui calcule le 'FacProduct' des deux tableaux. Pour calculer le 'FacProduct', il
faut multiplier deux à deux les éléments des tableaux et additionner le tout (le
résultat final doit donc est un réel).

```
LIRE(tableau1)
LIRE(tableau2)
somme_produits = 0

POUR CHAQUE valeur1 DE tableau1
    POUR CHAQUE valeur2 DE tableau2
        somme_produits += valeur1 * valeur2
    FIN POUR
FIN POUR
AFFICHE(somme)
```

In [ ]:
tableau1 = [1, 2, 3]
tableau2 = [4, 5, 6]
somme = 0

for i in tableau1 :
    for j in tableau2 :
        somme += i * j

print('Somme du FacProduct des 2 tableaux = {}'.format(somme))

Somme du FacProduct des 2 tableaux = 90

## 2.5 Le plus grand

Ecrire un algorithme permettant à l'utilisateur de renvoyer la plus grande valeur
du tableau passer en input en précisant quelle position elle occupe dans le
tableau.

```
LIRE(tableau)
valeur_max = tableau[0]

POUR CHAQUE valeur DE tableau
    SI valeur > valeur_max
        valeur_max = valeur
    FIN SI
FIN POUR
AFFICHE(valeur_max)
```

In [ ]:
#tableau = [55, 63, 75, 14, 16, 36]
tableau = [-55, -63, -75, -14, -16, -36]
max = tableau[0]

for valeur in tableau :
    if valeur > max :
        max = valeur

print('Valeur la plus grand du tableau = {}'.format(max))

Valeur la plus grand du tableau = -14

## 2.6 Plus grand que la moyenne

Ecrire un algorithme permettant à l'utilisateur de renvoyer le nombre de valeur
supérieures à la moyenne d'un tableau passé en input de taille n.

```
LIRE(tableau)
moyenne = SOMME(tableau)/LONGUEUR(tableau)
nombre_valeur = 0

POUR CHAQUE valeur DE tableau
    SI valeur > moyenne
        nombre_valeur += 1
    FIN SI
FIN POUR
AFFICHE(nombre_valeur)
```

In [ ]:
tableau = [5, 40, 33, 62, 31]
moyenne = sum(tableau)/len(tableau)
nombre = 0

for valeur in tableau :
    if valeur > moyenne :
        nombre += 1

print('Nombre de valeur supérieures à la moyenne {} = {}'.format(moyenne, nombre))

Nombre de valeur supérieures à la moyenne 34.2 = 2

## 2.7 Multiplier des vecteurs

Ecrire un algorithme permettant d'effectuer la multiplication de deux vecteurs
de taille N connue à l'avance et d'afficher le résultat.

```
LIRE(vecteur1)
LIRE(vecteur2)
produit_vecteur = 0
i = 0

SI LONGUEUR(vecteur1) == LONGUEUR(vecteur2)
    TANT QUE i < LONGUEUR(vecteur1)
        produit_vecteur += vecteur1[i] * vecteur2[i]
        i += 1
    FIN TANT QUE
FIN SI
AFFICHE(produit_vecteur)
```

In [19]:
vecteur1 = [5, -2]
vecteur2 = [7, -6]
produit = 0
i = 0

if len(vecteur1) == len(vecteur2) :
    while i < len(vecteur1) :
        produit += vecteur1[i] * vecteur2[i]
        i += 1

print('Résultat de la multiplication des vecteurs = {}'.format(produit))

Résultat de la multiplication des vecteurs = 47

## 2.8 Tris

Ecrire un algorithme permettant de trier un tableau de taille n.

```
LIRE(tableau)
tableau_trié = []

TANT QUE LONGUEUR(tableau) > 0
    valeur_min = tableau[0]
    POUR CHAQUE valeur DE tableau
        SI valeur < valeur_min
            valeur_min = valeur
        FIN SI
    FIN POUR
    AJOUTE valeur_min A tableau_trié
    SUPPRIME valeur_min DE tableau
FIN TANT QUE
AFFICHE(tableau_trié)
```

In [30]:
tableau = [55, 63, 75, 14, 16, 36]
tri = []

while len(tableau) > 0 :
    min = tableau[0]
    index = 0
    for i in range(len(tableau)) :
        if tableau[i] < min :
            min = tableau[i]
            index = i
    tri.append(min)
    tableau.pop(index)

print('Tableau initial = {} \n Tableau trié = {}'.format(tableau, tri))

Tableau initial = []
 Tableau trié = [14, 16, 36, 55, 63, 75]

## 2.9 Factorielle

Ecrire un algorithme qui demande un nombre de départ, et qui calcule sa
factorielle. On rappelle qu'on calcule factorielle n tel que : n! =
Q
1in i =
1 x 2 x 3 x ... x (n - 1) x n. Par exemple 4! = 1 x 2 x 3 x 4.

```
LIRE(nombre_départ)
produit = 1
i = 1

TANT QUE i <= A nombre_départ
    produit *= i
    i += 1
FIN TANT QUE
AFFICHE(produit)
```

In [35]:
nombre = int(input('Saisir un nombre : '))
produit = 1
i = 1

while i <= nombre :
    produit *= i
    i += 1

print('Factorielle de {} = {}'.format(nombre, produit))

Saisir un nombre : 4
Factorielle de 4 = 24

## 2.10 La multiplication matricielle

Ecrire un algorithme qui prend deux matrices carrées A et B de taille n et qui
renvoie un élément ci,j (l'élément de la ligne i colonne j) de la matrice C tel
que, A x B = C.